<% action = form_action == :sign_in ? session_url : users_url %>
<% text = form_action == :sign_in ? "Sign In!" : "Sign Up!"%>

<h1><%= text %></h1>

<form action="<%= action %>" method="POST">
  <%= authentication_token %>

  <label for="user_username">Enter Username</label>
  <input
    type="text"
    name="user[username]"
    value="<%= user.username %>"
    id="user_username">
  <br>
  <br>

  <label for="user_password">Enter Password</label>
  <input
    type="password"
    name="user[password]"
    value="<%= user.password %>"
    id="user_password">
  <br>
  <br>

  <input type="submit" value="Submit!">
</form>
