<h1><%= @sub.title %></h1>
<h2>Moderated by <%= @sub.moderator.username %></h2>
<p><%= @sub.description %></p>
<br>
<% if @sub.moderator == current_user %>
  <%= link_to "Edit", edit_sub_url(@sub) %>
<% end %>


<%= render partial: "posts/post", collection: @sub.posts %>
<br>
<%= link_to "Back to Subs Index", subs_url %>
